body{
    background-image: linear-gradient(to bottom,#39335881 , #39335881 100%),url(/static/img/bg2.jpg);
    background-position:center;
    background-size: cover;
}

.left{
    background-image: linear-gradient(to bottom,#39335881 40%, #39335881 80%),url(/static/img/second2.jpg);
    background-position:center;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cadastro{
    height: 100vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
    
}

h4{
    color: #EDC18D;
}

.card-cadastro{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    border: 0;
    border-radius: 25px;
    padding: 0;
    box-shadow: 0px 0px 10px #EDC18D;
    background-color: #231a4c;
}

.teste{
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}


.form-cadastro{
    background-color: #393358;
    border: 0px;
    font-size: 1rem;
    color: #EDC18D;
}

.form-cadastro:hover, .form-cadastro:focus, .form-cadastro:active{
    background-color: #393358;
    border: 2px solid #EDC18D;
    box-shadow: 0px 0px 5px #EDC18D;
    color: #EDC18D;
}

.form-cadastro::placeholder{
    font-size: 1rem;
    color: #EDC18D;
}

.login{
    color: #EDC18D;
}

.btn-registrar{
    background-color: #EDC18D !important;
    color: #48416C !important;
    font-size: 18px;
    border-width: 2px;
    border-color: #EFAB9C !important;
    border-style: solid;
    box-shadow: 0px 0px 2px #EDC18D;
    
}

.btn-registrar:hover{
    background-color: #EFAB9C !important;
    color: #48416C !important;
    border-width: 2px;
    border-color: #EDC18D !important;
    border-style: solid;
    box-shadow: 0px 0px 10px #EDC18D;
}

.btn-registrar:active{
    background-color: #EFAB9C !important;
    color: #48416C !important;
}

@media (max-height: 895px){
    .cadastro{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }    
}


.card-email{
    background-color: #d44740;
    color: #fff;
    box-shadow: 0px 0px 5px #d44840;
    border: 0;
}