.nav-color{
    background-color: #48416C ;
}

.text-gray{
    color: #CCC9DC;
}

.input-clean{
    overflow: hidden;
    resize: none;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: transparent;
    outline: none;
    cursor: text;
    background-color: transparent;
    transition: border-color 1s;
}


.input-clean:focus{
    background-color: #393358;
    border: #EDC18D;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 5px;
}

.input-clean:hover{
    background-color: #393358;
    border: #EDC18D;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 5px;
}

.card-controle{
    background-color: #48416C;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #CCC9DC;
}



.card{
    border: 0;
}

main{
    background-color: #393358;
    
}

.nav-item{
    font-size: 25px;
}
.nav-item i{
    font-size: 20px;
}

.nav-link:hover, .nav-link:active, .nav-link:focus{
    color: #EDC18D !important;
}

.card-header{
    background-color: #48416C;
    border-radius: 5px;
    border-top: 5px #EDC18D solid ;
    color: #CCC9DC;
}

.inputTextquestion{
    font-size: 32px;
    overflow-wrap:break-word;
}

.inputTextanswer{
    font-size: 24px;
    overflow-wrap:break-word;
}

.question_type{
    background-color: transparent;
    border-width: 2px;
    border-color: #EDC18D;
    color: #fff;
    
}

.question_type:active , .question_type:hover, .question_type:focus{
    color: #fff;
    background-color: #EDC18D;
    border-color: #EDC18D;
}

.option-menu{
    color: #fff;
    background-color: #393358;
}

.option-menu::selection{
    background-color: #EDC18D !important;
}

.option-menu:hover, .option-menu:active, .option-menu:focus{
    color: #fff !important;
    background-color: #EDC18D !important;
}

.btn-outline-dark{
    color: #fff;
    border-color: #EDC18D;
    border-width: 2px;
}

.btn-outline-dark:active , .btn-outline-dark:hover, .btn-outline-dark:focus{
    color: #fff;
    background-color: #EDC18D;
    border-color: #EDC18D;
}

.botao_plus{
    background-color: #393358;
}

.contador{
    background-color: #393358;
    height: 3rem;
    vertical-align: middle;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
}

