.nav-color{
    background-color: #48416C ;
}

.text-gray{
    color: #CCC9DC;
}

.input-clean{
    border: none;
    outline: none;
    cursor: text;
    background-color: transparent;
}

main{
    background-color: #393358;
    
}

.nav-item{
    font-size: 25px;
}
.nav-item i{
    font-size: 20px;
}

.nav-link:hover, .nav-link:active, .nav-link:focus{
    color: #EDC18D !important;
}

.card-header{
    background-color: #48416C;
    border-radius: 5px;
    border-top: 5px #EDC18D solid ;
    color: #CCC9DC;
}