body{
    font-family: 'Sometype Mono', monospace;
    --sb-track-color: #48416C;
    --sb-thumb-color: #EDC18D;
    --sb-size: 7px;

    scrollbar-color: var(--sb-thumb-color) 
                    var(--sb-track-color);
}




.lateral:hover{
    color: #EDC18D;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #393358;
    overflow-y: auto;
    width: 115px;
    max-width: 115px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

main{
    margin-left: 115px;
    background-color: #48416C;
    min-height: 100vh;
    height:max-content;
}

.lateral-direita{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #393358;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

.lateral:hover{
    color: #EDC18D;
}

.baixo{
    position: absolute;
    bottom: 0;
    left: 0;
}

.baixo2{
    position: absolute;
    bottom: 0;
    right:  0;
}

.sair{
    color: #CCC9DC;
    text-decoration: none;
}

.sair:hover, .sair:active, .sair:focus{
    color: #EFAB9C;
} 

.alto{
    position: absolute;
    top: 0;
    left: 0;
}

.alto2{
    position: absolute;
    top: 0;
    right: 0;
}

.menu .nav-item{
    font-size: 12px;
}

.menu .nav-item {
    font-size: 12px;
}

.menu .nav-item i{
    font-size: 20px;
}

.text-shadow{
    text-shadow: 0px 0px 15px #EDC18D;
}

.text-shadow:hover{
    text-shadow: 0px 2px 15px #EDC18D;
}

.text-white{
    color: #CCC9DC;
}

.nav-link{
    color: #CCC9DC;
}

.max-width{
    max-width: 100%;
}

.icon-right i{
    color: #EDC18D;
    font-size: 30px;
    padding: 10px;
    background-color: #edc08d2d;
    border-radius: 25%;
    justify-content: center;
}

.card-1{
    background-color: #393358;
}

.card-1 i{
    color: #48416C;
}

.btn-padrao{
    color: #CCC9DC;
}


.card-painel{
    background-color: #EDC18D;
    border-radius: 1.5rem;
}
.card-painel p,.card-painel h2{
    color: #48416C;
}


#formularios-section, #relatorios-section, #usuario-section, #settings-section{
    display: none;
}


.form-usuario{
    background-color: #393358;
    border: 0px;
    font-size: 1rem;
    color: #CCC9DC;
}

.form-usuario:hover, .form-usuario:focus, .form-usuario:active{
    background-color: #393358;
    border: 2px solid #48416C !important;
    box-shadow: 0px 0px 5px #48416C !important;
    color: #CCC9DC;
}

.form-usuario::placeholder{
    font-size: 1rem;
    color: #CCC9DC;
}

.form-usuario-label{
    color: #48416C;
}


.btn-att{
    background-color: #48416C !important;
    color: #EDC18D !important;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 2px;
    border-color: #48416C !important;
    border-style: solid;
    box-shadow: 0px 0px 2px #48416C;
    
}

.btn-att:hover{
    background-color: #48416C !important;
    color: #EDC18D !important;
    border-width: 2px;
    border-color: #EDC18D !important;
    border-style: solid;
    box-shadow: 0px 0px 10px #48416C;
}

.btn-att:active{
    background-color: #48416C !important;
    color: #EDC18D !important;
}


.btn-criar{
    background-color: #EDC18D !important;
    color: #48416C !important;
    font-size: 18px;
    border-width: 2px;
    border-color: #EFAB9C !important;
    border-style: solid;
    box-shadow: 0px 0px 2px #EDC18D;
    
}

.btn-criar:hover{
    background-color: #EFAB9C !important;
    color: #48416C !important;
    border-width: 2px;
    border-color: #EDC18D !important;
    border-style: solid;
    box-shadow: 0px 0px 10px #EDC18D;
}

.btn-criar:active{
    background-color: #EFAB9C !important;
    color: #48416C !important;
}

.icon-notificacao{
    position: relative;
    width: 35px;
    height: 35px;
}

.icon-bell{
    font-size: 35px;
    color: #CCC9DC;
    cursor: pointer;
}

.icon-notificacao::after{
    content: attr(data-number);
    width: 20px;
    height: 20px;
    background-color: #fc0606;
    color: #fff;
    border-radius: 50%;
    display: grid;
    place-content: center;
    position: absolute;
    top: 5px;
    right: 0;
    transform: translate(3px);
}

.barra-lateral-fechada {
    display: none;
    width: 0;
    overflow: hidden;
    transition: display 0.3s ease;
}

.notificacoes {
    position: absolute;
    margin-right: -20px;
    z-index: 9997;
    right: 0;
    top: 0;
    padding-right: 20px;
    
    width: 20px;
    height: 20px;
    background-color: white;
    padding: 10px;
}


.card-numerico h3{
    font-size: 30px;
}

.card-numerico h4{
    font-size: 14px;
}
.card-numerico{
    background-color: #393358;
    color: #CCC9DC;
}

.nome-forms{
    color: #CCC9DC;
    font-size: 14px;
}

.card{
    border: 0;
}

.color-gray{
    color: #CCC9DC;
    border-radius: 5px;
    background-color: transparent;
}

.menos-transparencia{
    opacity: 0;
}

.form_card{
    background-color: #393358;
    font-size: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card_form{
    border-radius: 5px;
    border-width: 0;
    border-left-width: 4px;
    border-color: #EDC18D;
    border-style: solid;
    background-color: #393358;
    border-bottom-right-radius: 5px;
    border-bottom: #EDC18D 1px solid;
}

.img-perfil{
    height: 125px !important;
    width: 125px !important;
    min-width: 125px !important;
}