body{
    font-family: 'Sometype Mono', monospace;
    --sb-track-color: #48416C;
    --sb-thumb-color: #EDC18D;
    --sb-size: 7px;

    scrollbar-color: var(--sb-thumb-color) 
                    var(--sb-track-color);
}


.inicio{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #48416c6c, #48416c52 30%, #48416caf 80%, #48416C),url(/static/img/bg234.jpg);
    background-position:center;
    background-size: cover;
}





.nav-bar{
    border-bottom: #EDC18D solid 2px;
    padding-bottom: 1rem;
}

.bar-color{
    border-bottom: #EDC18D solid 2px;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    transition: 1s;
}



.bar-color:hover{
    border-bottom: #9AC1ED solid 2px;
    padding-bottom: 2rem;
    
}

.mid-inicio{

    min-height: calc(100vh - 119px);
    max-height: calc(100vh - 119px);
}

.text-inicio{
    font-size: 16px;
    text-align: start;
    font-weight: 100;
}

.btn-inicio{
    color: #EDC18D;
    font-weight: bold;
    text-align: start;
    padding: 0;
}

.icon-inicio{
    font-size: 20px;
    vertical-align: middle;
}

.drop{
    position:absolute;
    bottom: 0;
    
}

.navbar-brand{
    font-size: 25px;
}

.controle{
    padding-top: 0;
    margin-top: 0;
}

.nav-up .nav-item .nav-link{
    transition: none;
    
}


.nav-link{
    font-size: 25px;
    color: #EDC18D;
}

.nav-up .nav-item .nav-link:hover,
.nav-up .nav-item .nav-link:focus , .nav-up .nav-item .nav-link:active {
    border-bottom: 0;
    border-top-style: solid;
    border-color: #EDC18D;
    border-width: 2px;
    font-size: 25px;
    color: #EDC18D;
}


.text-shadow{
    text-shadow: 0px 0px 15px #EDC18D;
}

.text-shadow:hover{
    text-shadow: 0px 2px 15px #EDC18D;
}


.botao-cadastro{
    background-color: #48416C !important;
    color: #EDC18D !important;
    font-size: 25px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 2px;
    border-color: #48416C !important;
    border-style: solid;
    box-shadow: 0px 0px 2px #48416C;
    
}

.botao-cadastro:hover{
    background-color: #48416C !important;
    color: #EDC18D !important;
    border-width: 2px;
    border-color: #EDC18D !important;
    border-style: solid;
    box-shadow: 0px 0px 10px #48416C;
}

.botao-cadastro:active{
    background-color: #48416C !important;
    color: #EDC18D !important;
}


.titulo{
    font-size: 50px;
}


.container-inicio{
    margin-top: -8rem;

}


.linha{
    width: 100%;
}







.menu-suspenso {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    padding: 25px;
    border: 0;
    border-radius: 20px;
    border-color: #EDC18D;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 0px 15px #EDC18D;
    background-color: #393358;
    z-index: 1;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #48416cc9;
    z-index: 1;
}

.login-text{
    font-size: 18px;
    color: #EDC18D;
}

.cadastro-text{
    font-size: 14px;
    align-items: center; /* Vertical align */
    color: #EDC18D;
}

.form-duvida{
    background-color: #48416C;
    border: 0px;
    font-size: 1rem;
    color: #EDC18D;
}

.form-duvida:hover, .form-duvida:focus, .form-duvida:active{
    background-color: #48416C;
    border: 2px solid #EDC18D;
    box-shadow: 0px 0px 5px #EDC18D;
    color: #EDC18D;
}

.form-duvida::placeholder{
    font-size: 1rem;
    color: #EDC18D;
}

.sobre{
    background-color: #48416C;
}

.carousel-indicators{
    margin-bottom: -30px;
}

.card-img-top{
    width: auto;
    height: 250px;
}

.control-p{
    padding-left: 7rem;
    padding-right: 7rem;
}

.sobre-nos{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #EDC18D;
}

.text-sobrenos{
    font-size: 20px;

}

.icon-sobrenos{
    font-size: 25px;
}

.p-sobrenos{
    font-size: 14px;
    color: #EDC18D;
}

.p-card{
    color: #48416c;
    font-size: 14px;
}

.card-title{
    color: #48416C;
}

.card-sobre{
    background-color: #EDC18D;


}

.icon-1{
    color: #EFAB9C;
}

.icon-2{
    color: #B79BF2;
}

.icon-3{
    color: #9AC1ED;
}


body::-webkit-scrollbar {
    width: var(--sb-size);
    
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
    text-shadow: 0px 0px 5px #EDC18D;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
    border: 3px solid #48416C;
    
}

@media (max-width: 780px){
    .ctn-entrar{
        padding-bottom: 2rem;
    }

    .bar-color{
        display: none;
    }

    .carros{
        display: none;
    }
    
}

.card-duvidas{
    background-color: #393358;
    border-radius: 0.375rem;
}
h1, p{
    color: #EDC18D;
}

#duvidas{
    background-image: linear-gradient(to bottom, #48416C, #48416c96 50%, #48416cbb 80%, #48416C),url(/static/img/second.jpg);
    background-position:center;
    background-size: cover;
}

.btn-duvidas{
    
    border: 2px solid #393358;
    color: #EDC18D;
    font-weight: 400;
    text-align: start;
    padding: 1.5rem;
    
    font-size: 15px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.btn-duvidas:hover, .btn-duvidas:focus, .btn-duvidas:active{
    border: 2px solid #EDC18D;
    color: #EDC18D;
}

.icon-btn{
    color: #48416c;
}

.text-duvidas{
    font-size: 20px;
    color: #EDC18D;
}

.botao-entrar{
    background-color: #EDC18D !important;
    color: #48416C !important;
    font-size: 25px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 2px;
    border-color: #EFAB9C !important;
    border-style: solid;
    box-shadow: 0px 0px 2px #EDC18D;
    
}

.botao-entrar:hover{
    background-color: #EFAB9C !important;
    color: #48416C !important;
    border-width: 2px;
    border-color: #EDC18D !important;
    border-style: solid;
    box-shadow: 0px 0px 10px #EDC18D;
}

.botao-entrar:active{
    background-color: #EFAB9C !important;
    color: #48416C !important;
}

.texto-oculto{
    display: none;
    font-size: 16px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer{
    background-color: #393358;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.footer{
    color: #EDC18D;
}

.login-forms{
    width: 20rem;
}

.text-black{
    color: #000;
}

.msg-login{
    font-size: 14px;
    color: #fff;
}

.container-login {
    position: relative;
}

.botao-x {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #EDC18D;
}

.card-email{
    background-color: #d44740;
    color: #fff;
    box-shadow: 0px 0px 5px #d44840;
    border: 0;
    font-size: 14px;
}

.form-login{
    background-color: #48416C;
    border: 0px;
    font-size: 1rem;
    color: #EDC18D;
}

.form-login:hover, .form-login:focus, .form-login:active{
    background-color: #48416C;
    border: 2px solid #EDC18D;
    box-shadow: 0px 0px 5px #EDC18D;
    color: #EDC18D;
}

.form-login::placeholder{
    font-size: 1rem;
    color: #EDC18D;
}