body{
    font-family: 'Sometype Mono', monospace;
}

.inicio{
    background-color: #9BB1FF;
}

#inicio{
    height: calc(100vh);
}

.butao{
    
}

.centro{
    height: 100%;
}


.seta{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #5465FF;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    padding: 9px;
    color: #5465FF;
}

