body{
    font-family: 'Sometype Mono', monospace;
    --sb-track-color: #010A14;
    --sb-thumb-color: #0733F6;
    --sb-size: 7px;

    scrollbar-color: var(--sb-thumb-color) 
                    var(--sb-track-color);
}


.inicio{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #010a14a8, #010a14ad 50%, #010a14d7 90%, #010A14),url(/static/img/bg.jpg);
    background-position:center;
    background-size: cover;
}



.text-white{
    color: #CCC9DC;
}

.nav-bar{
    border-bottom: #0733F6 solid 2px;
    padding-bottom: 1rem;
}

.bar-color{
    border-bottom: #0733F6 solid 2px;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    transition: 1s;
}



.bar-color:hover{
    border-bottom: #CCC9DC solid 2px;
    padding-bottom: 2rem;
}

.mid-inicio{

    min-height: calc(100vh - 119px);
    max-height: calc(100vh - 119px);
}

.text-inicio{
    font-size: 16px;
    text-align: start;
    font-weight: 100;
}

.btn-inicio{
    color: #fff;
    font-weight: bold;
    text-align: start;
    padding: 0;
}

.icon-inicio{
    font-size: 20px;
    vertical-align: middle;
}

.drop{
    position:absolute;
    bottom: 0;
    
}

.navbar-brand{
    font-size: 25px;
}

.controle{
    padding-top: 0;
    margin-top: 0;
}

.nav-up .nav-item .nav-link{
    transition: none;
}

.nav-link{
    font-size: 25px;
}

.nav-up .nav-item .nav-link:hover,
.nav-up .nav-item .nav-link:focus , .nav-up .nav-item .nav-link:active {
    border-bottom: 0;
    border-top-style: solid;
    border-color: #0733F6;
    border-width: 2px;
    font-size: 25px;
}


.text-shadow{
    text-shadow: 0px 0px 15px #0733F6;
}

.text-shadow:hover{
    text-shadow: 0px 2px 15px #0733F6;
}


.botao-cadastro{
    background-color: #010A14;
    color: #fff;
    font-size: 25px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 2px;
    border-color: #0733f6b2;
    border-style: solid;
    box-shadow: 0px 0px 2px #0733F6;
    
}

.botao-cadastro:hover{
    background-color: none;
    
    border-width: 2px;
    border-color: #0733f6b2;
    border-style: solid;
    box-shadow: 0px 0px 10px #0733F6;
}

.botao-cadastro:active{
    background-color: #fff;
    color: #0733F6;
}


.titulo{
    font-size: 50px;
}


.container-inicio{
    margin-top: -8rem;

}


.linha{
    width: 100%;
}


.functions{
    background-color: #010A14;
}

.card-inicio{
    background-color: #031d3a60;
    box-shadow: 0px 0px 5px #0733F6;
    border-width: 2px;
    border-color: #0733f6b2;
    border-style: solid;
}

.card-inicio:hover{
    box-shadow: 0px 0px 15px #0733F6;
}

.card-img{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon{
    font-size: 5rem;
    
}

.menu-suspenso {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    padding: 25px;
    background-color: #031d3a;
    border: #0733F6 solid 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #0733F6;
    z-index: 1;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.login-text{
    font-size: 14px;
}

.cadastro-text{
    font-size: 14px;
    display: flex; /* CSS3 */
    align-items: center; /* Vertical align */
    justify-content: end;
    color: #CCC9DC;
}

.form-control{
    background-color: #031d3a60;
    border: 2px solid #0733f6b2;
    font-size: 20px;
    color: #CCC9DC;
}

.form-control input{
    font-size: 2px;
}

.form-control:hover, .form-control:focus, .form-control:active{
    background-color: #031d3a60;
    border: 2px solid #0733F6;
    box-shadow: 0px 0px 5px #0733F6;
    font-size: 20px;
    color: #CCC9DC;
}

.form-control::placeholder{
    font-size: 14px;
    color: #CCC9DC;
}

.sobre{
    background-color: #010A14;
}

.carousel-indicators{
    margin-bottom: -30px;
}

.card-img-top{
    width: auto;
    height: 250px;
}

.control-p{
    padding-left: 7rem;
    padding-right: 7rem;
}

.sobre-nos{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #0733F6;
}

.text-sobrenos{
    font-size: 20px;

}

.icon-sobrenos{
    font-size: 25px;
}

.p-sobrenos{
    font-size: 14px;
}

.card-sobre{
    background-color: #011021;
}



body::-webkit-scrollbar {
    width: var(--sb-size);
    
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
    text-shadow: 0px 0px 5px #0733F6;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
    border: 3px solid #010A14;
    
}

@media (max-width: 780px){
    .ctn-entrar{
        padding-bottom: 2rem;
    }

    .bar-color{
        display: none;
    }

    .carros{
        display: none;
    }
    
}

.card-duvidas{
    background-color: #0110219d;
    border-radius: 0.375rem;
}

.card-duvidas-geral{
    background-color: #010a1400;
    border: 0;
}

#duvidas{
    background-image: linear-gradient(to bottom, #010A14, #010a1498 50%, #010a14d7 80%, #010A14),url(/static/img/teste.jpg);
    background-position:center;
    background-size: cover;
}

.btn-duvidas{
    
    border: 2px solid #0c248db2;
    color: #fff;
    text-align: start;
    padding: 1.5rem;
    
    font-size: 15px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.btn-duvidas:hover, .btn-duvidas:focus, .btn-duvidas:active{
    border: 2px solid #0733F6;
    color: #fff;
}

.text-duvidas{
    font-size: 20px;
}

.texto-oculto{
    display: none;
    font-size: 16px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer{
    background-color: #011021;
    padding-top: 2rem;
    padding-bottom: 2rem;

}