<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/cadastro.css">
    <title>Cadastre-se</title>
</head>
<body>
    <div class="container  cadastro">
        <div class="card card-cadastro ">
            <div class="row justify-content-center h-100 ">
                <div class="col-md-6 left">
                    <img src="/static/img/cadastro.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 p-5 d-flex justify-content-center flex-column">
                    <a href="/"><img src="/static/img/logo.png" alt="Bootstrap" width="90" height="85"></a>
                    <div class="row ">
                        <div class="col-md-8 text-start">
                            <h4>Preencha os dados abaixo</h4>
                        </div>
                        <div class="col-md-4 text-end">
                            <a href="" class="align-middle">Fazer Login</a>
                        </div>
                        <div class="p-3 ">
                            <form class="row g-4 needs-validation  pt-2 " novalidate>
                                <div class="col-md-6">
                                    <label for="validationCustom01" class="visually-hidden">Nome</label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationCustom02" class="visually-hidden">Sobrenome</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="Sobrenome" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="validationCustom03" class="visually-hidden">Celular</label>
                                    <input type="text" class="form-control" id="validationCustom03" placeholder="Celular" required>
                                    <div class="invalid-feedback">
                                        Coloque um número válido
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="validationCustom04" class="visually-hidden">Email</label>
                                    <input type="email" class="form-control" id="validationCustom03" placeholder="Email" required>
                                    <div class="invalid-feedback">
                                        Coloque um email válido
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="validationCustom05" class="visually-hidden">Senha</label>
                                    <input type="password" class="form-control" id="validationCustom04" placeholder="Senha" required>
                                    <div class="invalid-feedback">
                                        Coloque uma senha válida
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                        <label class="form-check-label" for="invalidCheck">
                                        Concordo com termos e condições
                                        </label>
                                        <div class="invalid-feedback">
                                            You must agree before submitting.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Submit form</button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <script src="/static/cadastro.js"></script>
</body>
</html>