<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
        
        <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/creation.css">
        <title>Criação Formulário</title>
    </head>
<body>
    <div class="overlay" id="overlay"></div>
    <div class="card menu-suspenso " id="loginDropdown">
                
        <div class="container-login p-2" id="loginBox">
            <a id="closeButton" class="botao-x p-1" "><i id="xButton" class="bi bi-x-lg"></i></a>
            <div class="d-flex justify-content-center pt-2">
                <span class="title_menu pt-0 ">Forma de compartilhamento:</span>
            </div>
            
            <div class="row pt-3 d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-outline-dark options invite_link" id="invite_link">
                        <i class="bi bi-link share_form"></i>
                    </button>
                </div>
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-outline-dark options invite_email" id="invite_email">
                        <i class="bi bi-envelope share_form"></i>
                    </button>
                </div>
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-outline-dark options invite_perfil" id="invite_perfil">
                        <i class="bi bi-people share_form"></i>
                    </button>
                </div>
                <div class="link menu_off pt-1 pb-2" id="menu_link">
                    <hr class="w-100 me-auto ms-auto mt-4 mb-1" style="color: #EDC18D;">
                    <div class="p-0 m-0">
                        <div class="row pt-2 text-gray">
                            <div class="mb-1 row">
                                <label for="staticEmail" class="col-sm-1 col-form-label">Link:</label>
                                <div class="col-sm-11">
                                    <input type="text" readonly class="form-control-plaintext text-gray" id="staticEmail" value="/form/link/{{form.link}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-start">
                                    <button class="btn btn-outline-dark text-gray mt-2 me-2" onclick=copy("/localhost:5000/form/link/{{form.link}}")>
                                        Copiar
                                    </button>
                                    <a href="/form/link/{{form.link}}" class="btn btn-outline-dark text-gray mt-2">
                                        Abrir
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-outline-dark text-gray mt-2" onclick="new_link({{form.id}})">
                                        Gerar novo link
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="email menu_off pt-1 pb-2" id="menu_email">
                    <hr class="w-100 me-auto ms-auto mt-4 mb-1" style="color: #EDC18D;">
                    <h1>teste2</h1>
                </div>
                <div class="perfil menu_off pt-1 pb-2" id="menu_perfil">
                    <hr class="w-100 me-auto ms-auto mt-4 mb-1" style="color: #EDC18D;">
                    <h1>teste3</h1>
                </div>
            </div>
            
        </div>
    </div>
    <header class="nav-color">
        <div class="container ">
            <nav class="nav d-flex justify-content-between p-3">
                <ul class="nav justify-content-start align-items-center">
                    <li class="nav-brand nav-item pe-3 ">
                        <a href="/"><i class="bi bi-house-down text-gray " style="font-size: 30px;"></i></a>
                    </li>
                    <li class="nav-item">
                        <input class="inputTitulo input-clean text-gray" type="text" id="nameInput" value="{{ form.nome }}" style="font-size: 25px; width: 100%;" required>
                    </li>
                </ul>
                <ul class="nav justify-content-end align-items-center ">
                    <li class="nav-item">
                        <a class="text-gray nav-link link_group p-0 m-0" id="link_click"><i class="bi bi-link-45deg link_group" style="font-size: 28px;"></i></a>
                    </li>
                    <li class="nav-item pe-5">
                        <a class="nav-link text-gray" href="#"><i style="font-size: 22px;" class="bi bi-gear"></i></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-gray" href="#">{{usuario.nome}} <img src="/get-image/{{usuario.image[0]}}" alt="" class="img-fluid rounded-circle img-perfil " height="25px" width="25px"></a>
                    </li>
                </ul>
            </nav>
            
        </div>
    </header>
    <main>
        <div class="container-fluid p-5">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="card card-header p-3 gap-2 sticky">
                        <input class="inputTitulo input-clean text-gray" type="text" id="tituloInput" value="{{ form.titulo }}" style="font-size: 32px; width: 100%;" required>
                        <input class="inputTitulo input-clean text-gray" type="text" id="descricaoInput" value="{{ form.descricao }}" style="font-size: 18px; width: 100%;" required>
                    </div>
                </div>
                <div class="col-md-7">
                    {% for question in questions %}
                    <div class="card mb-4" id="questions">
                        
                        <div class="card-header card-controle p-4 " id="question_controle_{{question.id}}">
                            {% if question.required == True %}
                                <div class="d-flex justify-content-end mt-0 pt-0"><i class="bi bi-asterisk" style="font-size: 8px;color: #EDC18D;"></i></div>
                            {% endif %}
                            <div class="mb-3 d-flex justify-content-center">
                                <img class="img-fluid"  src="/get-image/{{question.image[0]}}" alt="">
                            </div>
                            <div class="mb-3">
                                <textarea rows="1" class="inputTextquestion w-100 input-clean text-gray {{question.type}} mb-4" type="text" id="question_text_{{question.id}}" required>{{ question.text }}</textarea>
                            </div>
                            
                            {% if question.type == 'text' %}
                                <div class="question_text">
                                    <div class="mb-3">
                                        <textarea rows="1" class="inputTextanswer w-100 input-clean text-gray {{question.type}}" type="text" id="answer_text_{{question.id}}" required>{{ question.pre_answer }}</textarea>
                                    </div>
                                </div>
                            {% endif %}
                            {% if question.type == 'multimult_escolha' %}
                                <div class="question_multi border_box">
                                    <div class="container border_box">
                                        <form class="border_box">
                                            {% for option in question.options %}
                                                    <label class="border_box">
                                                        <input class="border_box geral" type="radio" name="radio" checked>
                                                        <span class="border_box inputOption editable" id="edit_option_{{option.id}}_question_{{question.id}}">{{option.option_text}}</span>
                                                    </label>
                                            {% endfor %}
                                            <label class="border_box">
                                                <input class="border_box geral" type="radio" name="radio" checked class="border_box"/>
                                                <span class="border_box inputOption editable add_option" id="add_option_{{question.id}}">Adicionar uma opção...</span>
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                            
                        </div>
                        <div class="card-body card-controle" id="question_edit_{{question.id}}">
                            <div class="container question-edit ps-0">
                                <div class="row">
                                    <div class="col">
                                        <select class="form-select question_type options" id="question_type_{{question.id}}" aria-label="Default select example">
                                            <option class="option-menu question_type_option" id="question_type_{{question.id}}_text" value="texto">Texto</option>
                                            <option class="option-menu question_type_option" id="question_type_{{question.id}}_multi" value="mult_escolha">Múltipla Escolha</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-outline-dark options">
                                            <i class="bi bi-plus-lg"></i>
                                        </button>
                                        <button class="btn btn-outline-dark ms-3 options" id="button_image_{{question.id}}">
                                            <i class="bi bi-card-image"></i>
                                        </button>
                                        <input type="file" id="image_{{question.id}}" style="display: none;" accept="image/*">
                                        
                                        <button class="btn btn-outline-dark ms-3 options" onclick="deletarQuestao({{question.id}})">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <button class="btn btn-outline-dark ms-3 options" id="required_{{question.id}}">
                                            <i class="bi bi-file-earmark-lock2"> Obrigatório</i>
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    {% endfor %}
                    <div style="text-align: center;" class="pt-3">
                        <hr class="w-75 me-auto ms-auto mt-4 mb-1">
                        <button class="btn btn-outline-dark botao_plus" id="add_question" onclick="adicionarQuestao()" style="position: relative; top: -25px;">
                            <i class="bi bi-plus-lg add_question" ></i>
                        </button>
                    </div>
                    
                    
                </div>
                <div class="col-md-2 ">
                    <div class="card card-header p-3 sticky">
                        <H4>Questões</H4>
                        <div class="row ">
                            {% set count = namespace(value=1) %}
                            {% for question in questions %}
                                <div class="col-md-2  mt-2 d-flex justify-content-center ">
                                    <div class="card card-header p-3 text-center contador d-flex justify-content-center align-items-center" id="card_lateral_{{question.id}}">
                                        <p>{{ count.value }}</p>
                        
                                    </div>
                                </div>
                                {% set count.value = count.value + 1 %}
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        
    </main>

    <!-- Entire bundle -->
    <script>
        var id_form = {{form.id}};
        var questions = {{ questions_json | tojson | safe }};
    </script>
    <script src="/static/creation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/draggable.bundle.js"></script>
</body>
</html>