<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../static/style.css">
    <title>Make Questions</title>
</head>
<body>
    <section id="inicio" class="inicio">
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="">
                    <img src="../static/img/icon.png" alt="Bootstrap" width="100" height="60">
                </a>
                <ul class="nav justify-content-end pe-5 me-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Funções</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container centro  d-flex justify-content-between  flex-column">
            <div class="row ">
                <div class="col-md-4 d-flex justify-content-center flex-column">
                    <div class="container">
                        <h1 class="mb-5">Fique tranquilo sabendo que sua declaração está em boas mãos.</h1>
                        <button type="button" class="btn btn-success mt-5 text-center">Começar Agora</button>
                    </div>
                </div>
                <div class="col-md-8 d-flex justify-content-center">
                    <img src="../static/img/icon.png" alt="">
                </div>
            </div>
            <div class="row ">
                <div class="container d-flex justify-content-center pb-3 butao">
                    <a href="#sobre" class="btn"><i class="bi bi-arrow-down seta"></i></a>
                </div>
            </div>
        </div>
        
    </section>

    <section class="sobre" id="sobre">
        <h1>Sobre nós</h1>
    </section>



    <script src="../static/script.js"></script>
</body>
</html>