<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>Make Questions</title>
</head>
<body>

    <section id="inicio" class="inicio">
        <nav class="navbar navbar-expand-md text-center p-0">
            <div class="container text-white nav-bar">
                <div class="container justify-content-start ">
                    <img src="/static/img/logo.png" alt="Bootstrap" width="90" height="85">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="collapse navbar-collapse container justify-content-center controle" id="navbarNav">
                    <ul class="navbar-nav nav-up">
                        <li class="nav-item me-2">
                            <a class="nav-link text-white text-shadow" href="#">Início</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link text-white text-shadow" href="#sobre">Sobre</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link text-white text-shadow" href="#">Dúvidas</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link text-white text-shadow" href="#">Contato</a>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <button type="button" class="btn botao-cadastro" id="loginBtn">Entrar</button>
                            <div class="menu-suspenso" id="loginDropdown">
                                <h4 class="text-start login-text">Faça Login</h4>
                                <div class="container">
                                    <form>
                                        <div class="row mb-3">
                                            <label for="inputEmail" class=" visually-hidden">Email</label>
                                            <input type="email" class="form-control" id="inputEmail " placeholder="Email">
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputPassword3" class="visually-hidden">Senha</label>
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="Senha">
                                        </div>
                                    </form>
                                </div>
                                <a href="#" class="text-end cadastro-text">Cadastre-se</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mid-inicio d-flex justify-content-center flex-column">
            <div class="container text-center text-white container-inicio">
                <h1 class="titulo pb-2">Make questions</h1>
                <p class="mensage pb-3">Construindo pesquisas, moldando dados e criando conexões</p>
            </div>
            <div class="container p-0 drop">
                <div class="row text-white align-items-end">
                    <div class="col-md-4 justify-content-center under-border bar-color p-5">
                        <p class="text-inicio">
                            Crie formulários de pesquisa com ferramentas simples e dinâmicas
                        </p>
                        <a class="btn btn-inicio" href="">Ver mais <i class="bi bi-arrow-right-short icon-inicio"></i></a>
                    </div>
                    <div class="col-md-4 justify-content-center under-border bar-color p-5">
                        <p class="text-inicio">
                            Construa relatórios profissionais com seus resultados
                        </p>
                        <a class="btn btn-inicio" href="">Ver mais <i class="bi bi-arrow-right-short icon-inicio"></i></a>
                    </div>
                    <div class="col-md-4 justify-content-center under-border bar-color p-5">
                        <p class="text-inicio">
                            Adicione suas proprias pesquisas e relacione com pesquisas
                        </p>
                        <a class="btn btn-inicio" href="">Ver mais <i class="bi bi-arrow-right-short icon-inicio"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </section>
    <section class="sobre" id="sobre">
        <div class="container pt-5 pb-5 text-white">
            <div class="row">
                <div class="col-md-4 text-start d-flex justify-content-center flex-column">
                    <h4 class="sobre-nos text-shadow">Sobre nós</h4>
                    <div class="row text-center pt-3 pb-3">
                        <div class="col-md-4">
                            <i class="bi bi-hammer icon-sobrenos"></i>
                            <h2 class="text-sobrenos">Construindo Pesquisas</h2>
                        </div>
                        <div class="col-md-4">
                            <i class="bi bi-pie-chart icon-sobrenos"></i>
                            <h2 class="text-sobrenos">Moldando Dados</h2>
                        </div>
                        <div class="col-md-4">
                            <i class="bi bi-arrow-repeat icon-sobrenos"></i>
                            <h2 class="text-sobrenos">Criando Conexões</h2>
                        </div>
                    </div>
                    
                    
                    
                    
                    <p class="p-sobrenos pb-3 ">Nosso projeto nasceu da visão de tornar a criação de pesquisas e a análise de dados mais acessível e eficaz para todos. Com nossa plataforma intuitiva e poderosa, você pode criar formulários de pesquisa personalizados em questão de minutos e receber insights detalhados para impulsionar sua tomada de decisões.</p>
                </div>
                <div class="col-md-8 text-center">
                    <div id="carouselExampleCaptions" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active control-p">
                                <div class="card card-sobre" style="width: auto;">
                                    <img src="/static/img/pesquisa.jpg" class="card-img-top" alt="...">
                                    <div class="card-body text-white">
                                        <h5 class="card-title">Construindo Pesquisas</h5>
                                        <p class="card-text p-sobrenos">Acessando a plataforma, sera possivel criar pesquisas sob medida para as suas necessidades. Defina perguntas, escolha opções de resposta e personalize o formato da pesquisa de maneira simples e eficaz.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item control-p">
                                <div class="card card-sobre" style="width: auto;">
                                    <img src="/static/img/pesquisa.jpg" class="card-img-top" alt="...">
                                    <div class="card-body text-white">
                                        <h5 class="card-title">Moldando Dados</h5>
                                        <p class="card-text p-sobrenos">Após coletar os dados das suas pesquisas, você terá as ferramentas necessárias para moldar, organizar e analisar essas informações. Utilize nossas ferramentas de análise e visualização para obter insights valiosos e uma compreensão mais profunda dos dados coletados.</p>
                                    </div>
                                </div>                               
                            </div>
                            <div class="carousel-item control-p">
                                <div class="card card-sobre" style="width: auto;">
                                    <img src="/static/img/pesquisa.jpg" class="card-img-top" alt="...">
                                    <div class="card-body text-white">
                                        <h5 class="card-title">Criando Conexões</h5>
                                        <p class="card-text p-sobrenos">Além de coletar e analisar dados, nossa plataforma permite que você estabeleça conexões significativas com os resultados. Identifique tendências, compreenda as necessidades dos participantes e tome decisões informadas com base nas informações da pesquisa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="duvidas" id="duvidas">
        <div class="container text-center pb-5 pt-5 ">
            <div class="card card-duvidas-geral text-white">
                <div class="container textos-duvidas">
                    <h1 class="mesage pb-3 pt-5">Dúvidas frequentes</h1>
                    <p class="message pb-3">Arruma essa porra ed,deixa as cores dos card assim, so mexe nos botoes e tals</p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-start ps-5 pb-5 pe-5">
                            <div class="d-grid gap-2 ">
                                <button class="btn btn-duvidas" type="button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Button
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <i class="bi bi-chevron-down"></i>
                                        </div>
                                    </div>
                                </button>
                                <button class="btn btn-duvidas" type="button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Button
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <i class="bi bi-chevron-down"></i>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 ps-5 pb-5 pe-5">
                            <div class="card card-duvidas text-white p-5 text-start">
                                <h1 class="text-duvidas pb-3">Tire Sua Dúvida</h1>
                                <form>
                                    <div class="mb-3">
                                        <label for="nome" class="visually-hidden">Nome</label>
                                        <input type="text" class="form-control" id="nome" aria-describedby="nome" placeholder="Nome">
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputEmail" class="visually-hidden">Email</label>
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="visually-hidden">Tire sua duvida</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escreva aqui..." ></textarea>
                                    </div>
                                    <div class="container justify-content-center text-center">
                                        <button type="submit" class="btn btn-primary">Enviar Dúvida</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>



    <script src="../static/script.js"></script>
</body>
</html>