<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>Make Questions</title>
</head>
<body>
    <section id="inicio" class="inicio">
        <nav class="navbar navbar-expand-md text-center -3 ">
            <div class="container text-white">
                <div class="container justify-content-start ">
                    <a class="navbar-brand text-white" href="#">Make Questions</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="collapse navbar-collapse container justify-content-center controle" id="navbarNav">
                    <ul class="navbar-nav nav-up">
                        <li class="nav-item me-2">
                            <a class="nav-link text-white text-shadow" href="#">Início</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link text-white text-shadow" href="#">Sobre</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link text-white text-shadow" href="#">Dúvidas</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link text-white text-shadow" href="#">Contato</a>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <button type="button" class="btn botao-cadastro" id="loginBtn">Entrar</button>
                            <div class="menu-suspenso" id="loginDropdown">
                                <h4 class="text-start login-text">Faça Login</h4>
                                <div class="container">
                                    <form>
                                        <div class="row mb-3">
                                            <label for="inputEmail" class=" visually-hidden">Email</label>
                                            <input type="email" class="form-control" id="inputEmail " placeholder="Email">
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputPassword3" class="visually-hidden">Senha</label>
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="Senha">
                                        </div>
                                    </form>
                                </div>
                                <a href="#" class="text-end cadastro-text">Cadastre-se</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid vertical-center">
            <div class="container text-center text-white container-inicio ">
                <h2 class="chama pb-5"> Bem-vindo ao futuro</h2>
                <h1 class="titulo pb-2">Make questions com sabedoria</h1>
                <p class="mensage pb-3">Contrua e gerencie os resultados de pesquisas na palma da sua mão</p>
                <button type="button" class="btn botao-cadastro">Comece Agora</button>
            </div>
        </div>
        
    </section>

    <div class="section functions">
        <div class="container pb-5 ">
            <div class="row ">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card cards text-white text-center" style="width: 18rem;">
                        
                        
                        <div class="card-header">
                            Pesquisas
                        </div>
                        <div class="card-body">
                            <i class="bi bi-search icon"></i>
                            <p class="card-text">Crie pesquisas com ferramentas simples e dinamicas</p>
                            <a href="#" class="btn btn-primary">Ver Mais</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card cards text-white text-center" style="width: 18rem;">
                        
                        
                        <div class="card-header">
                            Relatórios
                        </div>
                        <div class="card-body">
                            <i class="bi bi-graph-up-arrow icon"></i>
                            <p class="card-text">Construa relatórios profissionais com seus resultados</p>
                            <a href="#" class="btn btn-primary">Ver Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card cards text-white text-center" style="width: 18rem;">
                        
                        
                        <div class="card-header">
                            Seus Dados
                        </div>
                        <div class="card-body">
                            <i class="bi bi-database-fill-gear icon"></i>
                            <p class="card-text">Adicione suas proprias pesquisas e relacione com pesquisas</p>
                            <a href="#" class="btn btn-primary">Ver Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

        </div>
    </div>


    <section class="sobre" id="sobre">
        
    </section>



    <script src="../static/script.js"></script>
</body>
</html>