<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/painel.css">

    <title>{{usuario.nome}} {{usuario.sobrenome}}</title>

    
</head>
<body>
    <aside class="menu-lateral d-flex justify-content-center flex-column" id="header">
        <img src="/static/img/logo.png"  alt="" class="img-fluid pt-3 alto" alt="logo" >
        <nav class="d-flex justify-content-center">
            <ul class="nav flex-column text-center menu p-0 text-white">
                <li class="nav-item ">
                    <a class="nav-link ps-0 pe-0 max-width lateral" href="#" id="painel"><i class="bi bi-speedometer2"></i><br>Painel</a>
                </li>
                <li class="nav-item pt-4">
                    <a class="nav-link ps-0 pe-0 max-width lateral" href="#" id="formularios"><i class="bi bi-question-circle"></i><br>Formularios</a>
                </li>
                <li class="nav-item pt-4">
                    <a class="nav-link ps-0 pe-0 max-width lateral" href="#" id="relatorios"><i class="bi bi-clipboard-data"></i><br>Relátorios</a>
                </li>
                <li class="nav-item pt-4">
                    <a class="nav-link ps-0 pe-0 max-width lateral" href="#" id="usuario"><i class="bi bi-person"></i><br>Usuário</a>
                </li>
                <li class="nav-item pt-4">
                    
                    <a class="nav-link ps-0 pe-0 max-width lateral" href="#" id="settings"><i class="bi bi-gear"></i><br>Configurações</a>
                </li>
            </ul>
        </nav>
        
        <div class="container">
            
            <div class="container d-flex flex-column justify-content-center text-center pb-5 baixo">
                
                <form action="{{ url_for('logout') }}" method="post">
                    <button class=" btn btn-padrao sair" type="submit"  href="/logout" ><i class="bi bi-door-closed"></i><br>Sair</button>
                </form>
                
            </div>
        </div>
        
    </aside>





    <main>
        <section id="painel-section" class="pt-5 text-white container" >
            <div class="row">
                <div class="col-md-4">
                    <div class="row d-flex justify-content-center m-0">
                        <div class="col-md-4 m-0 d-flex justify-content-center flex-column">
                            <img src="/get-image/{{usuario.image[0]}}" onerror="this.onerror=null;this.src='/static/img/user_noimage.jpg';" alt="" class="img-fluid rounded-circle img-perfil pt-2" height="200px" width="200px">
                        </div>
                        <div class="col-md-8 m-0 d-flex justify-content-end flex-column">
                            <h5 >Bem-vindo, {{usuario.nome}}</h5>
                            <p style="font-size: 14px;">Este é o seu painel de usuário</p>
                        </div>
                        <hr class="w-100 me-auto ms-auto mt-5">
                        <div class="col-md-4">
                            <div class="card card-numerico text-center ">
                                <h3 class="pt-2">{{usuario.quantidade_forms}}</h3>
                                <hr class="w-50 me-auto ms-auto mt-2">
                                <h4 >Criados</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-numerico text-center ">
                                <h3 class="pt-2">{{participando|length}}</h3>
                                <hr class="w-50 me-auto ms-auto mt-2">
                                <h4 >Participando</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-numerico text-center ">
                                <h3 class="pt-2">0</h3>
                                <hr class="w-50 me-auto ms-auto mt-2">
                                <h4 >Respostas</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        Acompanhe seus resultados
                    </h4>
                    <div class="card card-1" style="width: 100%;">
                        <div class="card-body text-white">
                            <div class="row">
                                <div class="col-md-5 d-flex justify-content-center">
                                    <i class="bi bi-collection-play" style="font-size: 150px;"></i>
                                </div>
                                <div class="col-md-7 d-flex justify-content-center flex-column ">
                                    <h6 class="pb-3">
                                        Crie um novo formulario
                                    </h6>
                                    <p class="pb-3" style="font-size: 14px;">
                                        Comece uma nova pesquisa e construa um relátorio personalizado agora mesmo
                                    </p>
                                    <form method="post" action="{{ url_for('newpage') }}">
                                        <button class="btn btn-criar w-100" type="submit">Criar agora</button>
                                    </form>
                                    

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row pt-5 pb-3 d-flex justify-content-center">
                <div class="col-md-3">
                    <div class="row ps-1 pe-1 d-flex align-items-center justify-content-center">
                        <div class="col-md-10">
                            <h3 class="nome-forms h-100">Criados</h3>
                        </div>
                        <div class="col-md-2 text-start d-flex justify-content-end align-items-center mb-2">
                            <a href=""><i class="bi bi-plus color-gray"></i></a>
                            <a href=""><i class="bi bi-three-dots color-gray"></i></a>
                        </div>
                    </div>
                
                    {% for form in forms %}
                    <div class="card card-resume mb-2 color-gray">
                        <div class="card_form p-3 pb-1">
                            <p class="text-start">{{form.formulario.nome}}</p>
                            <div class="d-inline">
                                <a href="{{ url_for('exibir_formulario', id_forms=form.formulario.id) }}" class="icon-default"><i class="bi bi-pencil-square color-gray "></i></a>
                                <a href="/form/link/{{form.formulario.link}}" class="icon-default"><i class="bi bi-eye color-gray"></i></a>
                                <form class="d-inline" method="post" action="{{ url_for('excluir_formulario', id_forms=form.formulario.id) }}">
                                    <button type="submit" class="btn icon-default" style="border: none; padding: 0; margin: 0; cursor: pointer;">
                                        <i class="bi bi-trash-fill color-gray icon-default"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        
                        <div class="card-body form_card p-1 pt-1 m-0 align-items-center d-flex justify-content-center w-100">
                            <div class="row w-100 d-flex justify-content-center">
                                <div class="col-md-6">
                                    Criado:{{form.formulario.created}}
                                </div>
                                <div class="col-md-6 text-end">
                                    Dono:{{usuario.nome}}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
                
                <div class="col-md-3">
                    <div class="row ps-1 pe-1 d-flex align-items-center justify-content-center">
                        <div class="col-md-10">
                            <h3 class="nome-forms h-100">Participando</h3>
                        </div>
                        <div class="col-md-2 text-start d-flex justify-content-end align-items-center mb-2">
                            <a href=""><i class="bi bi-plus color-gray"></i></a>
                            <a href=""><i class="bi bi-three-dots color-gray"></i></a>
                        </div>
                    </div>
                
                    {% for form in participando %}
                    <div class="card card-resume mb-2 color-gray">
                        <div class="card_form p-3 pb-1">
                            <p class="text-start">{{form.nome}}</p>
                            <div class="d-inline">
                                <a href="/form/link/{{form.link}}" class="icon-default"><i class="bi bi-box-arrow-in-right color-gray" ></i></a>
                            </div>
                        </div>
                        
                        <div class="card-body form_card p-1 pt-1 m-0 align-items-center d-flex justify-content-center w-100">
                            <div class="row w-100 d-flex justify-content-center">
                                <div class="col-md-6">
                                    Criado: {{form.created}}
                                </div>
                                <div class="col-md-6 text-end">
                                    Dono: {{form.dono}}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-3">
                    <div class="row ps-1 pe-1 d-flex align-items-center justify-content-center">
                        <div class="col-md-10">
                            <h3 class="nome-forms h-100">Respondido</h3>
                        </div>
                        <div class="col-md-2 text-start d-flex justify-content-end align-items-center mb-2">
                            <a href=""><i class="bi bi-plus color-gray"></i></a>
                            <a href=""><i class="bi bi-three-dots color-gray"></i></a>
                        </div>
                    </div>
                
                    {% for form in respondido %}
                    <div class="card card-resume mb-2 color-gray">
                        <div class="card_form p-3 pb-1">
                            <p class="text-start">{{form.nome}}</p>
                            <div class="d-inline">
                                <a href="{{ url_for('exibir_formulario', id_forms=form.id) }}"><i class="bi bi-pencil-square color-gray"></i></a>
                                <a href="/form/link/{{form.link}}"><i class="bi bi-eye color-gray"></i></a>
                                <form class="d-inline" method="post" action="{{ url_for('excluir_formulario', id_forms=form.id) }}">
                                    <button type="submit" class="btn" style="border: none; padding: 0; margin: 0; cursor: pointer;">
                                        <i class="bi bi-trash-fill color-gray"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        
                        <div class="card-body form_card p-1 pt-1 m-0 align-items-center d-flex justify-content-center w-100">
                            <div class="row w-100 d-flex justify-content-center">
                                <div class="col-md-6">
                                    Criado: {{form.created}}
                                </div>
                                <div class="col-md-6 text-end">
                                    Dono: {{form.dono}}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-3">
                    <div class="row ps-1 pe-1 d-flex align-items-center justify-content-center">
                        <div class="col-md-10">
                            <h3 class="nome-forms h-100">Corrigidos</h3>
                        </div>
                        <div class="col-md-2 text-start d-flex justify-content-end align-items-center mb-2">
                            <a href=""><i class="bi bi-plus color-gray"></i></a>
                            <a href=""><i class="bi bi-three-dots color-gray"></i></a>
                        </div>
                    </div>
                
                    {% for form in corrigidos %}
                    <div class="card card-resume mb-2 color-gray">
                        <div class="card_form p-3 pb-1">
                            <p class="text-start">{{form.nome}}</p>
                            <div class="d-inline">
                                <a href="{{ url_for('exibir_formulario', id_forms=form.id) }}"><i class="bi bi-pencil-square color-gray"></i></a>
                                <a href="/form/link/{{form.link}}"><i class="bi bi-eye color-gray"></i></a>
                                <form class="d-inline" method="post" action="{{ url_for('excluir_formulario', id_forms=form.id) }}">
                                    <button type="submit" class="btn" style="border: none; padding: 0; margin: 0; cursor: pointer;">
                                        <i class="bi bi-trash-fill color-gray"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        
                        <div class="card-body form_card p-1 pt-1 m-0 align-items-center d-flex justify-content-center w-100">
                            <div class="row w-100 d-flex justify-content-center">
                                <div class="col-md-8">
                                    Criado: {{form.created}}
                                </div>
                                <div class="col-md-4">
                                    Dono: {{usuario.nome}}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>

        </section>
        <section id="formularios-section" class="pt-5 text-white container">
            <div class="container">
                {% for form in forms %}
                    <div class="card card-resume mb-2 color-gray">
                        <div class="card_form p-3 pb-1">
                            <p class="text-start">{{form.formulario.nome}}</p>
                            <div class="d-inline">
                                <a href="{{ url_for('exibir_formulario', id_forms=form.formulario.id) }}" class="icon-default"><i class="bi bi-pencil-square color-gray "></i></a>
                                <a href="/form/link/{{form.formulario.link}}" class="icon-default"><i class="bi bi-eye color-gray"></i></a>
                                <form class="d-inline" method="post" action="{{ url_for('excluir_formulario', id_forms=form.formulario.id) }}">
                                    <button type="submit" class="btn icon-default" style="border: none; padding: 0; margin: 0; cursor: pointer;">
                                        <i class="bi bi-trash-fill color-gray icon-default"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        
                        <div class="card-body form_card p-1 pt-1 m-0 align-items-center d-flex justify-content-center w-100">
                            <div class="row w-100 d-flex justify-content-center">
                                <div class="col-md-6">
                                    Criado:{{form.formulario.created}}
                                </div>
                                <div class="col-md-6 text-end">
                                    Dono:{{usuario.nome}}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% if form.respostas %}
                    <div class="card-body">
                        <h5>Respostas:</h5>
                        <ul>
                            {% for resposta in form.respostas %}
                                <li>{{ resposta.text }} (Tipo de questão: {{ resposta.question_type }})</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
                
            </div>
        </section>
        <section id="relatorios-section" class="pt-5 text-white container">
            <div class="container">
                {% for item in forms %}
                    <div class="card card-resume mb-2 color-gray">
                        <div class="card_form p-3 pb-1">
                            <p class="text-start">{{ item.formulario.nome }}</p>
                            <div class="d-inline">
                                <a href="{{ url_for('exibir_formulario', id_forms=item.formulario.id) }}" class="icon-default"><i class="bi bi-pencil-square color-gray "></i></a>
                                <a href="/form/link/{{ item.formulario.link }}" class="icon-default"><i class="bi bi-eye color-gray"></i></a>
                                <form class="d-inline" method="post" action="{{ url_for('excluir_formulario', id_forms=item.formulario.id) }}">
                                    <button type="submit" class="btn icon-default" style="border: none; padding: 0; margin: 0; cursor: pointer;">
                                        <i class="bi bi-trash-fill color-gray icon-default"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                            <!-- Exibir questões e respostas associadas ao formulário -->
                            {% if item.questoes %}
                            <div class="card-body form_card p-1 pt-1 m-0 align-items-center d-flex justify-content-center">
                                <h5>Questões:</h5>
                                <ul>
                                    {% for questao in item.questoes %}
                                        <li>
                                            {{ questao.question_text }} (Tipo: {{ questao.question_type }})
                                            <ul>
                                                {% for resposta in questao.respostas %}
                                                    <li>{{ resposta.response_text }} (Tipo de resposta: {{ resposta.question_type }})</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
        <section id="usuario-section" class="pt-5 text-white container">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 p-4">
                        <div class="avatar-conta card-painel p-4 text-center">
                            <p style="font-size: 23px;">Olá, {{usuario.nome}}</p>
                            <img src="/get-image/{{usuario.image[0]}}" onerror="this.onerror=null;this.src='/static/img/user_noimage.jpg';" alt="" class="img-fluid rounded-circle img-perfil pt-2" height="200px" width="200px">
                            
                            <!-- Botão para trocar a imagem -->
                            <button class="btn btn-outline-dark mt-3" id="button_image_{{usuario.id}}" onclick="document.getElementById('image_input_{{usuario.id}}').click();">
                                <i class="bi bi-pencil"></i> Mudar Foto
                            </button>
                            <input type="file" id="image_input_{{usuario.id}}" style="display: none;" accept="image/*" onchange="uploadImage({{usuario.id}})">
                        
                            <div class="container">
                                <p class="text-start pt-4">Data de cadastro: {{usuario.created_at}}</p>
                                <p class="text-start pt-4">Última atualização:</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 p-4">
                        <div class="dados card-painel p-5">
                            <form class="row g-4">
                                <h2 style="font-size: 23px;">Meus dados</h2>
                                <div class="col-md-6">
                                    <label for="validationCustom01" class="form-label form-usuario-label">Nome</label>
                                    <input type="text" value="{{usuario.nome}}" class="form-control form-usuario" id="validationCustom01"aria-describedby="emailHelp">
                                </div>
                                <div class="col-md-6">
                                    <label for="validationCustom02" class="form-label form-usuario-label">Sobrenome</label>
                                    <input type="text" value="{{usuario.sobrenome}}" class="form-control form-usuario" id="validationCustom02">
                                </div>
                                <div class="col-md-6">
                                    <label for="validationCustom04" class="form-label form-usuario-label">Email</label>
                                    <input type="email" value="{{usuario.email}}" class="form-control form-usuario" id="validationCustom04">
                                </div>
                                <div class="col-md-6">
                                    <label for="validationCustom03" class="form-label form-usuario-label">Celular</label>
                                    <input type="text" value="{{usuario.celular}}" class="form-control form-usuario" id="validationCustom03">
                                </div>
                                
                                <div class="col-md-12 d-grid pt-3"> 
                                    <button type="submit" class="btn btn-att">Atualizar Dados</button>
                                </div>
                            </form>
                            <hr class="w-75 me-auto ms-auto mt-5" style="color: #48416C;">
                            <form class="row g-4 pt-3">
                                <h2 style="font-size: 23px;">Alterar Senha</h2>
                                <div class="col-md-12">
                                    <label for="validationCustom05" class="visually-hidden menos-transparencia">Senha Atual</label>
                                    <input type="password" class="form-control form-usuario" id="validationCustom05" name="senhaAtual" autocomplete="current-password" placeholder="Senha Atual" required>
                                </div>
                                <div class="col-md-6 pt-3">
                                    <label for="validationCustom06" class="visually-hidden menos-transparencia">Nova Senha</label>
                                    <input type="password" class="form-control form-usuario" id="validationCustom06" name="senhaAtual_verificacao" placeholder="Nova Senha" required>
                                </div>
                                <div class="col-md-6 pt-3">
                                    <label for="validationCustom07" class="visually-hidden menos-transparencia">Confirme sua nova senha</label>
                                    <input type="password" class="form-control form-usuario" id="validationCustom07" name="senhanova" placeholder="Confirme sua nova senha" required>
                                </div>
                                <div class="col-md-12 d-grid pt-3">
                                    <button type="submit" class="btn btn-att">Atualizar Senha</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="settings-section" class="pt-5 text-white container">
            <div class="container">
                <h1>Settings</h1>
            </div>
        </section>
    </main>
    <script src="../static/painel.js"></script>
</body>
</html>
